<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE boost_serialization>
<boost_serialization signature="serialization::archive" version="5">
<Settings class_id="0" tracking_level="0" version="8">
	<mWindowTopLeftXPosition>551</mWindowTopLeftXPosition>
	<mWindowTopLeftYPosition>417</mWindowTopLeftYPosition>
	<mWindowWidth>800</mWindowWidth>
	<mWindowHeight>401</mWindowHeight>
	<mMaximixed>1</mMaximixed>
	<mLocale class_id="1" tracking_level="0" version="0">
		<first>en-us</first>
		<second>English, United States</second>
	</mLocale>
	<mLogicHardwareHasRun>1</mLogicHardwareHasRun>
	<mRunCount>1</mRunCount>
	<mLowerSampleRateOnError>1</mLowerSampleRateOnError>
	<mDontShowScreenshotRegionMessageBox>0</mDontShowScreenshotRegionMessageBox>
	<mDeviceSettings class_id="2" tracking_level="0" version="0">
		<count>3</count>
		<item_version>1</item_version>
		<item class_id="3" tracking_level="0" version="1">
			<px class_id="4" tracking_level="1" version="8" object_id="_0">
				<mDeviceId>677398403</mDeviceId>
				<mType>0</mType>
				<mIsFake>1</mIsFake>
				<mChannels class_id="5" tracking_level="0" version="0">
					<count>8</count>
					<item_version>8</item_version>
					<item class_id="6" tracking_level="0" version="8">
						<mDeviceId>677398403</mDeviceId>
						<mChannelIndex>0</mChannelIndex>
					</item>
					<item>
						<mDeviceId>677398403</mDeviceId>
						<mChannelIndex>1</mChannelIndex>
					</item>
					<item>
						<mDeviceId>677398403</mDeviceId>
						<mChannelIndex>2</mChannelIndex>
					</item>
					<item>
						<mDeviceId>677398403</mDeviceId>
						<mChannelIndex>3</mChannelIndex>
					</item>
					<item>
						<mDeviceId>677398403</mDeviceId>
						<mChannelIndex>4</mChannelIndex>
					</item>
					<item>
						<mDeviceId>677398403</mDeviceId>
						<mChannelIndex>5</mChannelIndex>
					</item>
					<item>
						<mDeviceId>677398403</mDeviceId>
						<mChannelIndex>6</mChannelIndex>
					</item>
					<item>
						<mDeviceId>677398403</mDeviceId>
						<mChannelIndex>7</mChannelIndex>
					</item>
				</mChannels>
				<mName>Demo Logic</mName>
			</px>
		</item>
		<item>
			<px class_id_reference="4" object_id="_1">
				<mDeviceId>169917279</mDeviceId>
				<mType>1</mType>
				<mIsFake>1</mIsFake>
				<mChannels>
					<count>16</count>
					<item_version>8</item_version>
					<item>
						<mDeviceId>169917279</mDeviceId>
						<mChannelIndex>0</mChannelIndex>
					</item>
					<item>
						<mDeviceId>169917279</mDeviceId>
						<mChannelIndex>1</mChannelIndex>
					</item>
					<item>
						<mDeviceId>169917279</mDeviceId>
						<mChannelIndex>2</mChannelIndex>
					</item>
					<item>
						<mDeviceId>169917279</mDeviceId>
						<mChannelIndex>3</mChannelIndex>
					</item>
					<item>
						<mDeviceId>169917279</mDeviceId>
						<mChannelIndex>4</mChannelIndex>
					</item>
					<item>
						<mDeviceId>169917279</mDeviceId>
						<mChannelIndex>5</mChannelIndex>
					</item>
					<item>
						<mDeviceId>169917279</mDeviceId>
						<mChannelIndex>6</mChannelIndex>
					</item>
					<item>
						<mDeviceId>169917279</mDeviceId>
						<mChannelIndex>7</mChannelIndex>
					</item>
					<item>
						<mDeviceId>169917279</mDeviceId>
						<mChannelIndex>8</mChannelIndex>
					</item>
					<item>
						<mDeviceId>169917279</mDeviceId>
						<mChannelIndex>9</mChannelIndex>
					</item>
					<item>
						<mDeviceId>169917279</mDeviceId>
						<mChannelIndex>10</mChannelIndex>
					</item>
					<item>
						<mDeviceId>169917279</mDeviceId>
						<mChannelIndex>11</mChannelIndex>
					</item>
					<item>
						<mDeviceId>169917279</mDeviceId>
						<mChannelIndex>12</mChannelIndex>
					</item>
					<item>
						<mDeviceId>169917279</mDeviceId>
						<mChannelIndex>13</mChannelIndex>
					</item>
					<item>
						<mDeviceId>169917279</mDeviceId>
						<mChannelIndex>14</mChannelIndex>
					</item>
					<item>
						<mDeviceId>169917279</mDeviceId>
						<mChannelIndex>15</mChannelIndex>
					</item>
				</mChannels>
				<mName>Demo Logic 16</mName>
			</px>
		</item>
		<item>
			<px class_id_reference="4" object_id="_2">
				<mDeviceId>11809050163536538749</mDeviceId>
				<mType>0</mType>
				<mIsFake>0</mIsFake>
				<mChannels>
					<count>8</count>
					<item_version>8</item_version>
					<item>
						<mDeviceId>11809050163536538749</mDeviceId>
						<mChannelIndex>0</mChannelIndex>
					</item>
					<item>
						<mDeviceId>11809050163536538749</mDeviceId>
						<mChannelIndex>1</mChannelIndex>
					</item>
					<item>
						<mDeviceId>11809050163536538749</mDeviceId>
						<mChannelIndex>2</mChannelIndex>
					</item>
					<item>
						<mDeviceId>11809050163536538749</mDeviceId>
						<mChannelIndex>3</mChannelIndex>
					</item>
					<item>
						<mDeviceId>11809050163536538749</mDeviceId>
						<mChannelIndex>4</mChannelIndex>
					</item>
					<item>
						<mDeviceId>11809050163536538749</mDeviceId>
						<mChannelIndex>5</mChannelIndex>
					</item>
					<item>
						<mDeviceId>11809050163536538749</mDeviceId>
						<mChannelIndex>6</mChannelIndex>
					</item>
					<item>
						<mDeviceId>11809050163536538749</mDeviceId>
						<mChannelIndex>7</mChannelIndex>
					</item>
				</mChannels>
				<mName>Logic A</mName>
			</px>
		</item>
	</mDeviceSettings>
	<mAllowInternetAccess>1</mAllowInternetAccess>
	<mAskToChangeChannelNamesOnAnalyzerEdit>1</mAskToChangeChannelNamesOnAnalyzerEdit>
	<mProgressShowMoreDetail>1</mProgressShowMoreDetail>
	<mUsePngByDefault>1</mUsePngByDefault>
	<mShowArrowKeysNotification>1</mShowArrowKeysNotification>
	<mDefaultSaveAsPath>/home/david/electronics/Logic 1.1.15 (64-bit)/Logic</mDefaultSaveAsPath>
	<mErrorFilesToIgnore class_id="7" tracking_level="0" version="0">
		<count>0</count>
		<item_version>0</item_version>
	</mErrorFilesToIgnore>
	<mAnimateZoom>1</mAnimateZoom>
	<mPostCaptureViewBehavior>1</mPostCaptureViewBehavior>
	<mUseAeroGlass>1</mUseAeroGlass>
	<mAnalyzerExportDefaultExtension class_id="8" tracking_level="0" version="0">
		<count>0</count>
		<item_version>0</item_version>
	</mAnalyzerExportDefaultExtension>
	<mDeveloperAnalyzerFolder></mDeveloperAnalyzerFolder>
	<mCaptureFinder class_id="9" tracking_level="0" version="1">
		<px class_id="10" tracking_level="1" version="8" object_id="_3">
			<mName>Edge Finder</mName>
			<mUse>1</mUse>
			<mUseAsSoftwareTrigger>0</mUseAsSoftwareTrigger>
			<mUseAsHardwareTrigger>0</mUseAsHardwareTrigger>
			<mStates class_id="11" tracking_level="0" version="0">
				<count>1</count>
				<item_version>0</item_version>
				<item class_id="12" tracking_level="1" version="8" object_id="_4">
					<mName>State 1</mName>
					<mNumRepeats>0</mNumRepeats>
					<mNextStateOnRepeat>4294967294</mNextStateOnRepeat>
					<mDelay>0</mDelay>
					<mNextStateOnDelay>4294967294</mNextStateOnDelay>
					<mEdgeConditions class_id="13" tracking_level="0" version="0">
						<count>1</count>
						<item_version>0</item_version>
						<item class_id="14" tracking_level="1" version="8" object_id="_5">
							<mNextStateIndex>4294967295</mNextStateIndex>
							<mEdgeChannel>
								<mDeviceId>18446744073709551615</mDeviceId>
								<mChannelIndex>4294967295</mChannelIndex>
							</mEdgeChannel>
							<mPosedge>1</mPosedge>
							<mLowChannels>
								<count>0</count>
								<item_version>8</item_version>
							</mLowChannels>
							<mHighChannels>
								<count>0</count>
								<item_version>8</item_version>
							</mHighChannels>
						</item>
					</mEdgeConditions>
				</item>
			</mStates>
		</px>
	</mCaptureFinder>
	<mCaptureDeviceId>11809050163536538749</mCaptureDeviceId>
	<mCaptureActiveChannels>
		<count>8</count>
		<item_version>8</item_version>
		<item>
			<mDeviceId>11809050163536538749</mDeviceId>
			<mChannelIndex>0</mChannelIndex>
		</item>
		<item>
			<mDeviceId>11809050163536538749</mDeviceId>
			<mChannelIndex>1</mChannelIndex>
		</item>
		<item>
			<mDeviceId>11809050163536538749</mDeviceId>
			<mChannelIndex>2</mChannelIndex>
		</item>
		<item>
			<mDeviceId>11809050163536538749</mDeviceId>
			<mChannelIndex>3</mChannelIndex>
		</item>
		<item>
			<mDeviceId>11809050163536538749</mDeviceId>
			<mChannelIndex>4</mChannelIndex>
		</item>
		<item>
			<mDeviceId>11809050163536538749</mDeviceId>
			<mChannelIndex>5</mChannelIndex>
		</item>
		<item>
			<mDeviceId>11809050163536538749</mDeviceId>
			<mChannelIndex>6</mChannelIndex>
		</item>
		<item>
			<mDeviceId>11809050163536538749</mDeviceId>
			<mChannelIndex>7</mChannelIndex>
		</item>
	</mCaptureActiveChannels>
	<mCaptureChannelSettings class_id="15" tracking_level="0" version="0">
		<count>8</count>
		<item_version>0</item_version>
		<item class_id="16" tracking_level="0" version="0">
			<first>
				<mDeviceId>11809050163536538749</mDeviceId>
				<mChannelIndex>0</mChannelIndex>
			</first>
			<second class_id="17" tracking_level="0" version="8">
				<mR>0</mR>
				<mG>0</mG>
				<mB>0</mB>
				<mA>255</mA>
				<mDisplayIndex>0</mDisplayIndex>
				<mLabel>Channel 0</mLabel>
				<mMinimized>0</mMinimized>
				<mInvertData>0</mInvertData>
			</second>
		</item>
		<item>
			<first>
				<mDeviceId>11809050163536538749</mDeviceId>
				<mChannelIndex>1</mChannelIndex>
			</first>
			<second>
				<mR>139</mR>
				<mG>69</mG>
				<mB>19</mB>
				<mA>255</mA>
				<mDisplayIndex>1</mDisplayIndex>
				<mLabel>Channel 1</mLabel>
				<mMinimized>0</mMinimized>
				<mInvertData>0</mInvertData>
			</second>
		</item>
		<item>
			<first>
				<mDeviceId>11809050163536538749</mDeviceId>
				<mChannelIndex>2</mChannelIndex>
			</first>
			<second>
				<mR>255</mR>
				<mG>0</mG>
				<mB>0</mB>
				<mA>255</mA>
				<mDisplayIndex>2</mDisplayIndex>
				<mLabel>Channel 2</mLabel>
				<mMinimized>0</mMinimized>
				<mInvertData>0</mInvertData>
			</second>
		</item>
		<item>
			<first>
				<mDeviceId>11809050163536538749</mDeviceId>
				<mChannelIndex>3</mChannelIndex>
			</first>
			<second>
				<mR>249</mR>
				<mG>160</mG>
				<mB>0</mB>
				<mA>255</mA>
				<mDisplayIndex>3</mDisplayIndex>
				<mLabel>Channel 3</mLabel>
				<mMinimized>0</mMinimized>
				<mInvertData>0</mInvertData>
			</second>
		</item>
		<item>
			<first>
				<mDeviceId>11809050163536538749</mDeviceId>
				<mChannelIndex>4</mChannelIndex>
			</first>
			<second>
				<mR>255</mR>
				<mG>255</mG>
				<mB>0</mB>
				<mA>255</mA>
				<mDisplayIndex>4</mDisplayIndex>
				<mLabel>Channel 4</mLabel>
				<mMinimized>0</mMinimized>
				<mInvertData>0</mInvertData>
			</second>
		</item>
		<item>
			<first>
				<mDeviceId>11809050163536538749</mDeviceId>
				<mChannelIndex>5</mChannelIndex>
			</first>
			<second>
				<mR>0</mR>
				<mG>255</mG>
				<mB>0</mB>
				<mA>255</mA>
				<mDisplayIndex>5</mDisplayIndex>
				<mLabel>Channel 5</mLabel>
				<mMinimized>0</mMinimized>
				<mInvertData>0</mInvertData>
			</second>
		</item>
		<item>
			<first>
				<mDeviceId>11809050163536538749</mDeviceId>
				<mChannelIndex>6</mChannelIndex>
			</first>
			<second>
				<mR>0</mR>
				<mG>0</mG>
				<mB>255</mB>
				<mA>255</mA>
				<mDisplayIndex>6</mDisplayIndex>
				<mLabel>Channel 6</mLabel>
				<mMinimized>0</mMinimized>
				<mInvertData>0</mInvertData>
			</second>
		</item>
		<item>
			<first>
				<mDeviceId>11809050163536538749</mDeviceId>
				<mChannelIndex>7</mChannelIndex>
			</first>
			<second>
				<mR>160</mR>
				<mG>32</mG>
				<mB>240</mB>
				<mA>255</mA>
				<mDisplayIndex>7</mDisplayIndex>
				<mLabel>Channel 7</mLabel>
				<mMinimized>0</mMinimized>
				<mInvertData>0</mInvertData>
			</second>
		</item>
	</mCaptureChannelSettings>
	<mCaptureMetaDataPanelSettings class_id="18" tracking_level="0" version="8">
		<mShowWidth>1</mShowWidth>
		<mShowPeriod>1</mShowPeriod>
		<mShowDutyCycle>0</mShowDutyCycle>
		<mShowFrequency>1</mShowFrequency>
		<mShowByte>0</mShowByte>
		<mShowTimingMarkers>1</mShowTimingMarkers>
		<mShowError>0</mShowError>
		<mT1Active>0</mT1Active>
		<mT2Active>0</mT2Active>
		<mT1Sample>2207254</mT1Sample>
		<mT2Sample>2206338</mT2Sample>
	</mCaptureMetaDataPanelSettings>
	<mCaptureMinimizeChannelLabels>0</mCaptureMinimizeChannelLabels>
	<mCaptureHideFinders>0</mCaptureHideFinders>
	<mDisplayBase>2</mDisplayBase>
	<mCaptureSampleRateHz>4000000</mCaptureSampleRateHz>
	<mCaptureNumSamples>5000000</mCaptureNumSamples>
	<mCapturePreTriggerBufferSize>10000000</mCapturePreTriggerBufferSize>
	<mDataExportSettings class_id="19" tracking_level="0" version="8">
		<mExportAllChannels>1</mExportAllChannels>
		<mChannelsToExport>
			<count>0</count>
			<item_version>8</item_version>
		</mChannelsToExport>
		<mSamplesRageType>0</mSamplesRageType>
		<mStartingTime>0</mStartingTime>
		<mEndingTime>1</mEndingTime>
		<mStartingSampleInclusive>0</mStartingSampleInclusive>
		<mEndingSampleInclusive>0</mEndingSampleInclusive>
		<mDataExportType>1</mDataExportType>
		<mCsvIncludeHeaders>0</mCsvIncludeHeaders>
		<mCsvDelimiterType>0</mCsvDelimiterType>
		<mCsvOutputMode>1</mCsvOutputMode>
		<mCsvTimestampType>0</mCsvTimestampType>
		<mCsvDensity>0</mCsvDensity>
		<mCsvDisplayBase>2</mCsvDisplayBase>
		<mBinaryOutputMode>0</mBinaryOutputMode>
		<mBinaryBitShifting>0</mBinaryBitShifting>
		<mBinaryOutputWordSize>0</mBinaryOutputWordSize>
		<mFileName></mFileName>
	</mDataExportSettings>
	<mLogic16Use5Volts>0</mLogic16Use5Volts>
	<mAnalyzerSaveNames>
		<count>1</count>
		<item_version>0</item_version>
		<item>Simple Parallel</item>
	</mAnalyzerSaveNames>
	<mAnalyzerSaveData>
		<count>1</count>
		<item_version>0</item_version>
		<item>22 serialization::archive 5 0 8 11809050163536538749 3 11809050163536538749 4 11809050163536538749 5 11809050163536538749 6 18446744073709551615 4294967295 18446744073709551615 4294967295 18446744073709551615 4294967295 18446744073709551615 4294967295 11809050163536538749 2 0</item>
	</mAnalyzerSaveData>
	<mAnalyzerSaveUseSystemDisplayBase>
		<count>1</count>
		<item>1</item>
	</mAnalyzerSaveUseSystemDisplayBase>
	<mAnalyzerSaveDisplayBase class_id="21" tracking_level="0" version="0">
		<count>1</count>
		<item_version>0</item_version>
		<item>2</item>
	</mAnalyzerSaveDisplayBase>
	<mLogic16ChannelSelection>
		<count>16</count>
		<item_version>0</item_version>
		<item>0</item>
		<item>1</item>
		<item>2</item>
		<item>3</item>
		<item>4</item>
		<item>5</item>
		<item>6</item>
		<item>7</item>
		<item>8</item>
		<item>9</item>
		<item>10</item>
		<item>11</item>
		<item>12</item>
		<item>13</item>
		<item>14</item>
		<item>15</item>
	</mLogic16ChannelSelection>
	<mLogic16SpecificChannels>3500580099</mLogic16SpecificChannels>
	<mLogic16SpecificAnalyzer>3377642865</mLogic16SpecificAnalyzer>
	<mLogic16SpecificFinder>4031704193</mLogic16SpecificFinder>
	<mInstallationId>{755bdb44-0f61-4c37-80f9-4139efa55fae}</mInstallationId>
	<mLogic16LedBehavior>3</mLogic16LedBehavior>
	<mEnableSingleClickToZoom>1</mEnableSingleClickToZoom>
	<mEnableLargeNumSamples>0</mEnableLargeNumSamples>
	<mTcpSocketServerPort>10429</mTcpSocketServerPort>
</Settings>
</boost_serialization>

